* {
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    font-family: 'MuseoModerno', cursive;
    /* background-color: black; */
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(./images/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* border: 2px solid rgb(251, 255, 0); */
}

.main-bar {
    background-color: rgb(242, 176, 232);
    border: 2px solid rgb(251, 255, 0);
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}

.main-bar a {
    color:  rgb(251, 255, 0);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.main-bar a:hover {
    color: #00DDFF;
}

/* Header Section */

header {
    color:  rgb(242, 176, 232);
    margin-top: 20px;
}

header p {
    font-size: 25px;
    text-shadow: 1px 1px 0 #00DDFF, 2px 2px 0 rgb(251, 255, 0);
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px 1px #00DDFF, 4px 4px 1px rgb(251, 255, 0), 6px 6px 1px rgb(242, 176, 232);
}

.yellow {
    color: rgb(251, 255, 0)
}

/* Album cover stuff */
h3 {
    color: #00DDFF;
    text-shadow: 2px 2px 0 rgb(242, 176, 232), 3px 4px 0 orangered, 4px 6px 0 rgb(251, 255, 0);
}
.albums img {
    width: auto;
    height: 200px;
    padding: 0;
}
/* .row {border: 1px solid red;} */
.col {
    padding: 0;
    margin: 2px;
}

/* Free roaming pictures */
.couple-heartbeat {
    position: relative;
    bottom: 25px;
}

.heartbeat {    width: 100px;
    height: auto;}

.tool, .tool_2 {
    width: 100px;
    height: auto;
    position: fixed;
}

.tool {
    top: 100px;
    left: 50px;
}

.tool_2 {
    top: 100px;
    right: 50px;
}

.spinny {
    margin: 0 auto;
    width: 100px;
    height: auto;
}